<div class="title">
  <h1>Listings</h1>
</div>


<div class="listing-content">
  <% @listings.each do |listing| %>
    <div class="listing">
    <div class="listing-photo">
      PHOTO HERE
    </div>
    <table class="listing-caption">
      <tr><td colspan="2">
        <%= link_to listing.name, listing %>
      </td></tr>
      <tr>
        <td>RM<%= listing.price %> per night</td>
        <td><%= listing.room_type %></td>
      </tr>
      
      <tr>
        <td colspan="2">
        <% if listing.user == current_user %>
          <%= link_to 'Edit', edit_listing_path(listing) %> | 
          <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
          <br/>
          <% end %>
        </td>
      </tr>
    </table>
    </div>
  <% end %>
</div>

<center><%= will_paginate @listings %></center>
