<p id="notice"><%= notice %></p>
<h1><%= @listing.name %></h1>
<p><%= @listing.description %></p>
<p><%= @listing.property_type %></p>
<p><%= @listing.room_type %></p>
<p><%= @listing.no_guest %> guest</p>
<p>RM<%= @listing.price %> per night</p>
<p>Minimum stay: <%= @listing.min_stay %> night</p>
<p><%= @listing.address %></p>
<p><%= @listing.city.name + ", " + @listing.city.state + ", " + @listing.city.country %></p>
<p><%= @listing.amenity_list %></p>
<p><%= @listing.rule_list %></p>
<p>Hosted by:<%= @listing.user.name %></p>
<% @listing.photos.each do |photo| %>
	<p><%= image_tag (photo.large.url) %></p>
<% end %>


<% if @listing.user == current_user %>
	The host can edit and delete <br/>
	<%= link_to 'Edit', edit_listing_path(@listing) %> |
	<%= link_to 'Back', listings_path %>
	<%= link_to 'Delete', listing_path(@listing), method: :delete %>
<% else %>
	Other users can book <br/>
	<%= render :partial => "reservations/form" %>

<% end %>
