<%= image_tag(@user.avatar.thumb.url) %>
<h1><%= @user.name %></h1>
<h2>My listings</h2>
<% @user.listings.each do |list| %>
	<h3><%= list.name %></h3>
	<p><%= list.description %></p>
	<% if list.user == current_user %>
      <tr>
        <td><%= link_to 'Edit', edit_listing_path(list) %>
          <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
<% end %><br/><br/>

<% if @user == current_user %>
	<h2>My bookings</h2>
	<% @user.bookings.each do |booking| %>
		<h3><%= Listing.find(booking.bookable_id).name %></h3><br/>
		Check in: <%= booking.time_start.strftime('%A, %d %b %Y') %><br/>
		Check out: <%= (booking.time_end + 1.day).strftime('%A, %d %b %Y') %><br/><br/>
	<% end %>
<% end %>
