<%= cl_image_tag(@user.avatar.thumb.url) %>
<h1><%= @user.name %></h1>

<% @user.listings.each do |list| %>
	<h3><%= list.name %></h3>
	<p><%= list.description %></p>
	<% if list.user == current_user %>
      <tr>
        <td><%= link_to 'Edit', edit_listing_path(list) %>
          <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
<% end %>
