<%= form_for [@listing, @reservation] do |f| %>
	<%= f.date_field :date_start, id:"from" %>
	<%= f.date_field :date_end, id:"to" %>
	<%= f.number_field(:amount) %>
	<%= f.submit "Instant Book" %>

	<% if @reservation.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>