<div id="clearance" class="password-reset col-lg-4 col-md-6 col-sm-12 col-xs-12">
  <h2><%= t(".title") %></h2>

  <p><%= t(".description") %></p>

  <%= form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class="password-field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="submit-field">
      <%= form.submit "Reset password", class: "clearance-button btn btn-default" %>
    </div>
  <% end %>
</div>

