<nav>
  <div class="nav-header">
    <a class="nav-brand" href="/">PairBnB</a>
    <div class="nav-search-icon"><%= image_tag 'search.png', size:'25x25' %></div>
    <div class="nav-search">
      <%= form_tag '/search', method: :get do %>
        <%= text_field_tag :location, params[:location], placeholder:"Where do you wanna go?" %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="nav-collapse">
    <ul class="nav-right">
      <li><%= link_to "Explore", listings_path %></li>
      <li><%= link_to "About", "#" %></li>

      <% if signed_in? %>
        <li><%= link_to "Become a host", new_listing_path %></li>
<!--         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> -->
          <li class="dropdown"><a href="#" class="droplink" onclick="dropdownToggle()">
            <% if current_user.avatar_url %>
              <%= image_tag current_user.avatar_url, class: "avatar-small"  %>
            <% else %>
              <div class="avatar-small"><span><%= current_user.name[0] %></span></div>
            <% end %>
          </a>

          <div class="dropdown-content" id="myDropdown">
            <div><%= link_to "Profile", user_path(current_user) %></div>
            <div><%= link_to "Edit account", edit_user_path(current_user) %></div>
            <div class="separator"></div>
            <div><%= button_to 'Sign out', sign_out_path, method: :delete, class: "btn btn-link" %></div>
          </div>

          </li>

        <% else %>
          <li><%= link_to 'Sign in', sign_in_path %></li>
        <% end %>
      </ul>


    </div>
  </div> <!-- header -->
</nav>

<script type="text/javascript">
  function dropdownToggle() {
    if ($(".dropdown-content").is(":visible")) {
      $(".dropdown-content").toggle(false)
    }
    else {
    $(".dropdown-content").toggle(true);
    }
  };
</script>